/* Basic reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}

input[type="file"] {
  margin: 20px 0;
}

button {
  background-color: #7b0536;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7b0536;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.options {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.label {
  display: block;
  margin: 10px 0;
}

.input-range {
  width: 100%;
}

.error {
  color: red;
  font-weight: bold;
}

.image-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px; 
}

.image-container {
  margin: 10px;
  width: 45%; 
  max-width: 500px; 
  border: 1px solid #ccc; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.label {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.input-range {
  width: 100%;
  transition: border-color 0.3s;
}

.input-number {
  width: 100%; 
  max-width: 60px; 
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-left: 5px;
  transition: transform 0.2s;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="range"],
input[type="number"] {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

input[type="range"]:hover,
input[type="number"]:hover,
input[type="checkbox"]:hover {
  border-color: #888;
}

input[type="range"]:focus,
input[type="number"]:focus {
  background-color: #7b0536;
  outline: none;
}
.image-display {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-wrap: wrap;
  gap: 40px; 
}

.image-container {
  margin: 10px;
  width: 45%;
  max-width: 500px; 
  border: 1px solid #ccc; 
  padding: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  min-height: 500px;
}

.image-container img {
  width: 100%;
  height: auto; 
  margin-bottom: 10px; 
}

.download-button {
  margin-top: auto; 
  background-color: #16060a;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.download-button:hover {
  background-color: #7b0536;
}

.download-button svg {
  margin-right: 5px;
}
.app-footer {
  padding: 20px;
  background-color: rgba(244, 244, 244, 0.9);
  color: #333;
  text-align: center;
  border-top: 1px solid #ccc;
  width: 100%; 
}

.app-footer a {
  color: #0066cc;
  text-decoration: none;  
}

.app-footer a:hover {
  text-decoration: underline; 
}

.app-footer p {
  font-size: 0.9em;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .image-container {
    width: 100%;               
    max-width: 100%;        
    padding: 10px;
    box-shadow: none;        
  }

  .options {
    display: block;          
  }
}